pytest==7.3.1
imageai==3.0.3
matplotlib==3.6.2
mlflow==2.3.0
mpi4py==3.1.4
mpi4py_mpich==3.1.2
mysql-connector==2.2.9
PyMySQL==1.0.3
numpy
object_detection==0.0.3
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==1.4.2
Pillow==9.5.0
pylabel==0.1.48
Requests==2.29.0
scikit_learn==1.2.0
scipy==1.9.3
segment_anything==1.0
scikit-image
stochopy==2.2.0
tensorflow==2.12.0
mysqlclient