pytest==7.3.1
imageai==3.0.3
matplotlib==3.5.1
mysql-connector==2.2.9
mysqlclient==2.1.1
PyMySQL==1.0.3
numpy
object_detection==0.0.3
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==1.4.2
Pillow==9.5.0
pylabel==0.1.48
scipy==1.8.0
scikit-image
stochopy==2.2.0
tensorflow==2.12.0